{% extends "base.jinja" %}

{% block main %}
<div class="container d-flex flex-column" style="height: 100vh;">
    <div class="my-auto d-flex flex-column mx-auto my-auto">
        <div class="row justify-content-center align-items-center g-2">
            <div class="col">
                <h1 class="retro outlined text-center" style="font-size:4rem;">Spenny Codes</h1>
            </div>
        </div>
        <div class="row justify-content-center align-items-center g-2">
            <div class="col d-flex">
                <p class="retro mx-auto my-2 text-success" >
                    >  Click Here to Start <
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}